<div class="header-button">
  <button class="btn btn-primary" (click)="openTerminalModal(getDefaultTerminalSettings(), $event)">Add
    Terminal</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="center disable-select">Select</th>
      <th scope="col" class="center disable-select">Terminal Id</th>
      <th scope="col" class="center disable-select">Alias</th>
      <th scope="col" class="center disable-select">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="terminals?.length == 0">
      <td>No data</td>
    </tr>
    <tr *ngFor="let terminal of terminals" (click)="onRowClick(terminal)" [ngClass]="{ 'highlighted' : terminal.isSelected }">
      <td>
        <div class="center">
          <input type="checkbox" [checked]="terminal.isSelected" class="form-check-input checkbox-column" class="debug2" id={{terminal.id}}>
          <label class="form-check-label" for={{terminal.id}}></label>
        </div>
      </td>
      <td class="center disable-select">{{ terminal.id }}</td>
      <td class="center disable-select">{{ terminal.alias }}</td>
      <td>
        <div class="center">
          <button type="button" class="btn btn-primary" (click)="openTerminalModal(terminal, $event)">
            Edit
          </button>
          <button type="button" class="btn btn-primary" (click)="delete(terminal)">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<div *ngIf="selectedTerminal != undefined">
  <br><br><br>
  <app-terminal-settings-bind (signageAdded)="addSignageToTerminal($event)"
    (signageDeleted)="removeSignageFromTerminal($event)" (categoryAdded)="addCategoryToTerminal($event)"
    (categoryDeleted)="removeCategoryFromTerminal($event)" [highlightedTerminal]="selectedTerminal">
  </app-terminal-settings-bind>
</div>
