<form>
  <label for="bindOption">Pick a Property to Bind: </label>
  <select id="bindOption" name="bindOption" (change)="onSelect($event.target.value)">
    <option>Pick an Option..</option>
    <option *ngFor="let selectOption of selectOptions">
      {{ selectOption }}
    </option>
  </select>
</form>

<!---Signage Listing-->

<div *ngIf="selectedDisplayCategory == 'Signages'">

  <h5> Display Signage List for {{ highlightedTerminal.alias }} : </h5>
  <button class="btn btn-primary" (click)="openTerminalSignageBindModal(highlightedTerminal)">Add Signage</button>
  <br><br><br>
  <table class="content table col-md-12">
    <thead>
      <tr>
        <th scope="col">Signage Id</th>
        <th scope="col">Signage Alias</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="highlightedTerminal.terminalSignages?.length == 0">
        <td>No Signage is Added to this Terminal</td>
      </tr>

      <tr *ngFor="let signage of getSignagesByIds(highlightedTerminal.terminalSignages)">
        <td>{{ signage.id }}</td>
        <td>{{ signage.alias }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="removeSignageFromTerminal(signage.id, highlightedTerminal.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!---Category Listing-->

<div *ngIf="selectedDisplayCategory == 'Categories'">
  <h5> Display Category List for {{ highlightedTerminal.alias }} : </h5>
  <button class="btn btn-primary" (click)="openTerminalCategoryBindModal(highlightedTerminal)">Add Category</button>
  <br><br><br>
  <table class="content table col-md-12">
    <thead>
      <tr>
        <th scope="col">Category Name</th>
        <th scope="col">Description</th>
        <th scope="col">Priority Coefficient</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="highlightedTerminal.terminalCategories?.length == 0">
        <td>No Category is Added to this Terminal</td>
      </tr>

      <tr *ngFor="let category of getTicketCategoriesByIds(highlightedTerminal.terminalCategories)">
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.priorityCoefficient }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="removeCategoryFromTerminal(category.id, highlightedTerminal.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

