
<div class="page-area">
  <nav id="mySidenav" class="sidenav">
    <a class="button" routerLink="/category-config" routerLinkActive="activebutton">Ticket Categories</a>
    <a class="button" routerLink="/display-settings">Display Settings</a>
    <a class="button" routerLink="/terminal-settings">Terminal Settings</a>
    <a class="button" routerLink="/ticket-editor">Ticket Editor</a>
    <a class="button" routerLink="/">Priority Rule Engine</a>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
