<div class="header-button">
  <button class="btn btn-primary" (click)="openTicketCategoryModal(getDefaultTicketCategory(), $event)">Add
    Ticket Category</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="center disable-select">Select</th>
      <th scope="col" class="center disable-select">Id</th>
      <th scope="col" class="center disable-select">Name</th>
      <th scope="col" class="center disable-select">Description</th>
      <th scope="col" class="center disable-select">First Ticket Number</th>
      <th scope="col" class="center disable-select">Last Ticket Number</th>
      <th scope="col" class="center disable-select">Priority Coefficient</th>
      <th scope="col" class="center disable-select">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="ticketCategories?.length == 0">
      <td>No data</td>
    </tr>
    <tr *ngFor="let ticketCategory of ticketCategories" (click)="onRowClick(ticketCategory)"
      [ngClass]="{ 'highlighted' : ticketCategory.isSelected }">
      <td>
        <div class="center">
          <input type="checkbox" [checked]="ticketCategory.isSelected" class="form-check-input checkbox-column" class="debug2"
            id={{ticketCategory.id}}>
          <label class="form-check-label" for={{ticketCategory.id}}></label>
        </div>
      </td>
      <td class="center disable-select">{{ ticketCategory.id }}</td>
      <td class="center disable-select">{{ ticketCategory.name }}</td>
      <td class="center disable-select">{{ ticketCategory.description }}</td>
      <td class="center disable-select">{{ ticketCategory.firstTicketNumber }}</td>
      <td class="center disable-select">{{ ticketCategory.lastTicketNumber }}</td>
      <td class="center disable-select">{{ ticketCategory.priorityCoefficient }}</td>
      <td>
        <div class="center">
          <button type="button" class="btn btn-primary" (click)="openTicketCategoryModal(ticketCategory, $event)">
            Edit
          </button>
          <button type="button" class="btn btn-primary" (click)="delete(ticketCategory)">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
