<div class="modal-header content">
  <h5 class="modal-title" id="editProfileLabel">Add Signage for {{ terminal.alias }}</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="alias" class="col-sm-4 col-form-label">Signage to Add: </label>
      <div class="col-sm-8">
        <select formControlName="id" id="bindOption" name="bindOption">
          <option value="" disabled>Pick a Signage..</option>
          <option *ngFor="let signage of signages" [value]="signage.id" [value]="signage.id">
            {{ signage.alias }}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>
</div>
