.highlighted{
  background-color: burlywood;
}

.btn{
  margin-right: 2px;
  margin-left: 2px;
}
tr {
  cursor: pointer;
}
.header-button {
  box-sizing: border-box;
  position: relative;
  display: block;
  float: right;
  width: 36%;
  margin: 10px;
}
