<div class="header-button">
  <button class="btn btn-primary" (click)="openSignageModal(getDefaultSignage(), $event)">
    Add Display
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="center disable-select">Select</th>
      <th scope="col" class="center disable-select">Display Id</th>
      <th scope="col" class="center disable-select">Alias</th>
      <th scope="col" class="center disable-select">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="signages?.length == 0">
      <td>No data</td>
    </tr>
    <tr *ngFor="let signage of signages" (click)="onRowClick(signage)" [ngClass]="{ 'highlighted' : signage.isSelected }">
      <td>
        <div class="center">
          <input type="checkbox" [checked]="signage.isSelected" class="form-check-input checkbox-column" class="debug2" id={{signage.id}}>
          <label class="form-check-label" for={{signage.id}}></label>
        </div>
      </td>
      <td class="center disable-select">{{ signage.id }}</td>
      <td class="center disable-select">{{ signage.alias }}</td>
      <td>
        <div class="center">
          <button type="button" class="btn btn-primary" (click)="openSignageModal(signage, $event)">
            Edit
          </button>
          <button type="button" class="btn btn-primary" (click)="delete(signage)">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
