<div class="header-button">
  <button class="btn btn-primary" (click)="openSignageModal(editSignageModal, getDefaultSignage())">
    Add Display
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="center disable-select">Select</th>
      <th scope="col" class="center disable-select">Display Id</th>
      <th scope="col" class="center disable-select">Alias</th>
      <th scope="col" class="center disable-select">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="signages?.length == 0">
      <td>No data</td>
    </tr>
    <tr *ngFor="let signage of signages" (click)="onRowClick(signage.id, checkBox)"
      [ngClass]="{ 'highlighted' : signage.id == selectedElementlId }">
      <td>
        <div class="center">
          <input #checkBox type="checkbox" class="form-check-input checkbox-column" class="debug2" value={{signage.id}}
            id={{signage.id}}>
          <label class="form-check-label" for={{signage.id}}></label>
        </div>
      </td>
      <td class="center disable-select">{{ signage.id }}</td>
      <td class="center disable-select">{{ signage.alias }}</td>
      <td>
        <div class="center">
          <button type="button" class="btn btn-primary" (click)="openSignageModal(editSignageModal, signage)">
            Edit
          </button>
          <button type="button" class="btn btn-primary" (click)="delete(signage)">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- <div *ngIf="selecteElementlId != undefined">
  <br><br><br>
  <app-terminal-settings-bind (categoryAdded)="addCategoryToTerminal($event)" [highlightedTerminal]="getSelectedTerminal()"></app-terminal-settings-bind>
</div> -->

<ng-template #editSignageModal let-modal>
  <div class="modal-header content">
    <h5 class="modal-title" id="editProfileLabel">Edit Signage</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editSignageForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="alias" class="col-sm-4 col-form-label">Signage Alias: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="alias" formControlName="alias">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>
